<p *ngIf="columnRecData" mat-dialog-title>Column {{columnRecData.column.name}}&nbsp;&nbsp;
  {{columnRecData.columnChar.portalCount}}/{{columnRecData.columnChar.portalsLength}} portals
  Letter: <strong>{{final}}</strong>
</p>
<p><i [style.font-size.em]=".9"> Notes: {{notes}} [ {{columnRecData.columnChar.percentDone}}% ] done</i></p>
<div mat-dialog-content>
  <app-map *ngIf="columnRecData" [columnRecData]="columnRecData"></app-map>
  <div *ngIf="columnRecData" class="map-form">
    <mat-form-field [style.width.%]="48" appearance="outline" >
      <mat-label>Final Code Character</mat-label>
      <input (ngModelChange)="validateChar(columnRecData)"
             matInput [(ngModel)]="final"
             class="charInput" autocomplete="off">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Enter the Final Code <strong>Character</strong> or <strong>Gliff</strong> here.</mat-hint>
    </mat-form-field>
    <mat-form-field [style.width.%]="48" appearance="outline">
      <mat-label>Notes</mat-label>
      <input (ngModelChange)="validateChar(columnRecData)"
             matInput [(ngModel)]="notes"
             class="charInput" autocomplete="off">
      <mat-icon matSuffix>mode</mat-icon>
      <mat-hint>For example could be "H or 8 or K"</mat-hint>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button *ngIf="final !== columnRecData.columnChar.final.char ||
          notes !== columnRecData.columnChar.notes"
          mat-raised-button color="primary"
          (click)="onOkClick(columnRecData)">Save</button>
  <!--<button mat-button [mat-dialog-close]="true">Cancel</button>-->
  <button mat-button (click)="onCancelClick(columnRecData)">
    <span *ngIf="final !== columnRecData.columnChar.final.char ||
    notes !== columnRecData.columnChar.notes">Cancel</span>
    <span *ngIf="final === columnRecData.columnChar.final.char &&
    notes === columnRecData.columnChar.notes">Ok</span>
  </button>
</div>
