<button *ngIf="authService.afAuth.user"
        class="btnLogout" [style.left.px]="left"
        mat-mini-fab aria-label="logout"
        (click)="logout()">
  <mat-icon>logout</mat-icon>
</button>

<div *ngIf="(bannerWidth && logMsgArray)" class="banner" [style.left.px]="bannerLeft" [style.width.px]="bannerWidth">
  <span *ngFor="let msgDat of logMsgArray" (click)="msgLogClick(msgDat)">
    @{{msgDat.msg}}&nbsp;&nbsp;&nbsp;</span>
</div>

<div class="container">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       [expanded]="expandMe">
    <mat-expansion-panel-header>
      <mat-panel-title>
        &nbsp;<span class="memo">Tap to: {{panelOpenState ? 'Close' : 'Open'}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="logBuffer" *ngIf="this.ingressName === 'G12mo'">{{logBuffer}}</p>
    <div *ngIf="!validated; else Content" class="example-button-row">
      <h1 *ngIf="rawData">{{rawData.name}}</h1>
      <button *ngIf="authService.afAuth.user" mat-raised-button color="primary"
              (click)="setIngressName()">
        To continue Enter Ingress Name
      </button>
    </div>
    <ng-template #Content>
      <div class="content">
        <h1>Tap on a Portal Image: enter Portal Name and Location </h1>
      </div>
    </ng-template>
  </mat-expansion-panel>
  <div>
    <div class="header" [style.width.px]="width">
      <div *ngIf="dataReady && validated">
        <div class="column" [style.width.px]="colRec.column.width"
             *ngFor="let colRec of columnRecDataArray" (click)="showColumnInfo(colRec)">
          <h1>Column {{colRec.column.name}}</h1>
          <div  *ngIf="colRec.columnChar">
            <p *ngIf="colRec.columnChar.final">Code Character: <strong>{{colRec.columnChar.final.char}}</strong></p>
            <p  *ngIf="colRec.columnChar.guesses">Suggestions: {{colRec.columnChar.guesses}}</p>
          </div>
          <p>Click here for Portal Map</p>
        </div>
      </div>
    </div>
    <canvas class="canvasAttr" #canvasEl [width]="width" [height]="height"></canvas>
  </div>
</div>
<img alt="IngressFS @home Password Challenge" class="myImage"
     #myImage [src]="this.imgUrl" (load)="onImageLoad(myImage)"
     [width]="realWidth" [height]="realHeight"/>
