<button *ngIf="authService.afAuth.user"
        class="btnLogout" [style.left.px]="left"
        mat-mini-fab aria-label="logout"
        (click)="logout()">
  <mat-icon>logout</mat-icon>
</button>

<div *ngIf="(bannerWidth && logMsgArray)" class="banner" [style.left.px]="bannerLeft" [style.width.px]="bannerWidth">
  <span *ngFor="let msgDat of logMsgArray" (click)="msgLogClick(msgDat)">
    @{{msgDat.msg}}&nbsp;&nbsp;&nbsp;</span>
</div>

<div class="container">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false"
                       [expanded]="expandMe">
    <mat-expansion-panel-header>
      <mat-panel-title>
        &nbsp;<span class="memo">Tap to: {{panelOpenState ? 'Close' : 'Open'}}</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p class="logBuffer" *ngIf="this.ingressName === 'G12mo'">{{logBuffer}}</p>
    <div *ngIf="!validated; else Content" class="example-button-row">
      <h1 *ngIf="rawData">{{rawData.name}}</h1>
      <button *ngIf="authService.afAuth.user" mat-raised-button color="primary"
              (click)="setIngressName()">
        To continue Enter Ingress Name
      </button>
    </div>
    <ng-template #Content>
      <div class="content">
        <h1>Tap on a Portal Image: enter Portal Name and Location </h1>
      </div>
    </ng-template>
  </mat-expansion-panel>
  <div>
    <div class="header" [style.width.px]="width">
      <div *ngIf="dataReady && validated">
        <div class="column" [style.width.px]="colRec.column.width"
             *ngFor="let colRec of columnRecDataArray" (click)="showColumnInfo(colRec)">
          <h1 class="overflow">Column {{colRec.column.name}}: {{colRec.columnChar.portalsLength}} portals</h1>
          <h1 class="overflow">Letter <strong>{{colRec.columnChar.final.char}}</strong>
            <i *ngIf="colRec.columnChar.final.char.length > 0" [style.color]="grey" [style.font-size.em]=".7">
              by {{colRec.columnChar.final.ingressName}}
            </i>
            <i *ngIf="colRec.columnChar.final.char.length === 0" [style.color]="grey" [style.font-size.em]=".7">
              undetermined
            </i></h1>
          <div>
            <h1>
              <i class ="overflow" [style.color]="grey" [style.font-size.em]=".7">
                {{colRec.columnChar.portalCount}}/{{colRec.columnChar.portalsLength}}
                found: {{colRec.columnChar.percentDone}}% done
              </i>
            </h1>
            <h1 class="overflow">
              <i [style.color]="grey" [style.font-size.em]=".7">
                Note: {{colRec.columnChar.notes}}
              </i>
            </h1>
          </div>
          <h1 class="overflow">Click for Portal Map</h1>
        </div>
      </div>
    </div>
    <canvas class="canvasAttr" #canvasEl [width]="width" [height]="height"></canvas>
  </div>
</div>
<img alt="IngressFS @home Password Challenge" class="myImage"
     #myImage [src]="this.imgUrl" (load)="onImageLoad(myImage)"
     [width]="realWidth" [height]="realHeight"/>
